/* adminhome.css */

body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    color: #fff;
    background-image: url('images/tapes.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #8B4513; /* Brown color for headings */
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    color: #ccc;
    font-size: 18px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="submit"] {
    padding: 12px 24px;
    background-color: #8B4513; /* Brown color for buttons */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #654321; /* Darker brown on hover */
}

/* Classy heading style */
.classy-heading {
    color: #8B4513; /* Brown color for headings */
    font-size: 24px;
    margin-bottom: 10px;
}

/* Subtle line style */
.subtle-line {
    border-top: 1px solid #8B4513; /* Brown color for lines */
    margin: 20px auto;
    width: 50%;
}
