/* styles.css */

body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    background-image: url('images/record.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for form */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #8B4513; /* Brown color for headings */
    margin-bottom: 20px;
}

p {
    color: #666;
    margin-bottom: 30px;
}

.buy-button {
    padding: 10px 20px;
    background-color: #8B4513; /* Brown color for button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #654321; /* Darker brown on hover */
}
