<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ADMIN HOME</title>
<link rel="stylesheet" type="text/css" th:href="@{/adminhome.css}"> 
</head>
<body>
<div class="container">
    <h1 class="classy-heading">ADMIN HOME</h1>
    <div class="subtle-line"></div>
    <form action="newsong">
        <input type="submit" value="Add Songs">
    </form>
    <form action="veiwsongs">
        <input type="submit" value="View Songs">
    </form>
    <form action="createplaylist">
        <input type="submit" value="Create Playlist">
    </form>
    <form action="viewplaylists">
        <input type="submit" value="View Playlist">
    </form>
</div>
</body>
</html>


<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ADMIN HOME</title>
<link rel="stylesheet" type="text/css" th:href="@{/adminhome.css}"> 
</head>
<body>
	<p>ADMIN HOME</p>
	<form action="newsong">
	<input type="submit" value="Add Songs">
	</form>
	<br><br>
		<form action="veiwsongs">
	<input type="submit" value="Veiw Songs">
	</form>
	<br><br>
		<form action="createplaylist">
	<input type="submit" value="Create Playlist">
	</form>
	<br><br>
		<form action="viewplaylists">
	<input type="submit" value="View Playlist">
	</form>
	<a href="newsong">Add New Song</a>
</body>
</html> -->