<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Forgot Password</title>
<link rel="stylesheet" th:href="@{/forgotPassword.css}" />
</head>
<body>
    <div class="container">
        <h3>Forgot Password</h3>
        <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>
        <p>Please enter your email address to receive a password reset link.</p>
        <form action="sendResetLink" method="post">
            <label>Email:</label> <br>
            <input type="email" name="email" placeholder="Enter your email address" /> <br /> <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>



